<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}
            {% endblock title %}
         </title>
         {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- {% load cache %} -->
        <!-- {% cache 30 header %}
        {% block header %} -->
        {% include './parts/header.html' %}
        <!-- {% endblock header %}
        {% endcache %} -->
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    {% include './parts/footer.html' %}
    </body>
    </html>